<div class="container d-flex justify-content-center">
    <mat-card class="login-card">
        <mat-card-title class="text-center py-2">Login</mat-card-title>
        <mat-card-content>
            <form class="login-card__form" [formGroup]="loginForm" (ngSubmit)="submit()">
                <div class="w-full">
                    <mat-form-field class="login-card__form-field">
                        <input type="text" matInput class="w-full" placeholder="Email" formControlName="email">
                    </mat-form-field>
                </div>

                <div class="w-full">
                    <mat-form-field class="login-card__form-field">
                        <input type="password" matInput class="w-full" placeholder="Password"
                            formControlName="password">
                    </mat-form-field>
                </div>

                <!-- <p *ngIf="error" class="error">
                    {{ error }}
                </p> -->

                <div class="button d-flex justify-content-between">
                    <button type="submit" mat-raised-button color="primary">Login</button>
                    <a class="btn btn-outline-success" (click)="navigateTo('/auth/register')">Register here</a>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>