<h1 mat-dialog-title> This is user form {{data.name}}</h1>
<div mat-dialog-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
        <p>User Name:</p>
        <mat-form-field class="user-form">
            <mat-label>User Name:</mat-label>
            <input className="user-form__input" matInput formControlName="name">

        </mat-form-field>
        <p>Avatar:</p>
        <mat-form-field class="user-form">
            <mat-label>Avatar:</mat-label>
            <input className="user-form__input" matInput formControlName="avatar">

        </mat-form-field>
        <p>Phone: </p>
        <mat-form-field class="user-form">
            <mat-label>Phone: </mat-label>
            <input className="user-form__input" matInput formControlName="phone">

        </mat-form-field>

        <p>Email:</p>
        <mat-form-field class="user-form">
            <mat-label>Email:</mat-label>
            <input className="user-form__input" matInput formControlName="email">

        </mat-form-field>

        <p>Address:</p>
        <mat-form-field class="user-form">
            <mat-label>Address:</mat-label>
            <input className="user-form__input" matInput formControlName="address">

        </mat-form-field>
        <p>Payment:</p>
        <mat-form-field class="user-form">
            <mat-label>Payment:</mat-label>
            <input className="user-form__input" matInput formControlName="payment">

        </mat-form-field>

        <!-- <p>Role:</p>
        <mat-form-field class="user-form">
            <mat-label>Role:</mat-label>
            <input className="user-form__input" matInput formControlName="role">

        </mat-form-field> -->

        <p>User Role:</p>
        <mat-form-field class="user-form">
            <mat-label>User Role:</mat-label>
            <mat-select [formControl]="userRole" className="product-form__input">
                <mat-option value="admin">
                    Admin
                </mat-option>
                <mat-option value="subadmin">
                    SubAdmin
                </mat-option>
                <mat-option value="client">
                    Client
                </mat-option>
            </mat-select>
        </mat-form-field>

        <p>Password:</p>

        <mat-form-field class="user-form">
            <mat-label>Enter your password</mat-label>
            <input className="user-form__input" matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <div>
            <button mat-raised-button color="primary" type="submit">Save</button>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial>Ok</button>
</div>