<mat-spinner *ngIf="isDashboardLoading"></mat-spinner>
<div *ngIf="!isDashboardLoading" class="container">
    <h2>Dashboard Overview</h2>
    <div class="row">
        <div class="col-md-3 mt-2">
            <app-summary-item (report)="reports.totalRevenue" name="Total Revenue"></app-summary-item>
        </div>
        <div class="col-md-3 mt-2">
            <app-summary-item (report)="reports.orders" name="Orders"></app-summary-item>
        </div>
        <div class="col-md-3 mt-2">
            <app-summary-item (report)="reports.products" name="Products"></app-summary-item>
        </div>
        <div class="col-md-3 mt-2">
            <app-summary-item (report)="reports.users" name="Users"></app-summary-item>
        </div>
    </div>
    <!-- <app-summary-item></app-summary-item>
    <app-summary-item></app-summary-item> -->

    <div class="mt-2">
        <app-tabs-content></app-tabs-content>
    </div>
</div>