<h3 class="my-4 fw-bold">Order by status</h3>
<mat-tab-group>
    <mat-tab label="Waiting To Confirm"> <app-table-orders status="Waiting to Confirm"></app-table-orders></mat-tab>
    <mat-tab label="Confirmed"> <app-table-orders status="confirmed"></app-table-orders></mat-tab>
    <mat-tab label="Shipping"> <app-table-orders status="shipping"></app-table-orders></mat-tab>
    <mat-tab label="Success"> <app-table-orders status="success"></app-table-orders></mat-tab>
    <mat-tab label="Destroy/failed"> <app-table-orders status="failed"></app-table-orders> </mat-tab>
</mat-tab-group>