<button type="button" routerLink="admin/categories">Categories</button>
<button type="button" routerLink="admin/products">Products</button>
<button type="button" routerLink="admin/users">Users</button>
<button type="button" routerLink="admin/orders">Orders</button>
<button type="button" routerLink="">Home</button>

<button type="button" (click)="showSuccess()">Show Toast</button>

<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<app-header (toggleSideBarEvent)="drawer.toggle()"></app-header>
<!-- Side nav container -->


<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-side-bar></app-side-bar>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>