

.table-users {

    &__name {
        height:  1.2rem; /* Chiều cao để hiển thị dòng text */
        width: 100px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;  /* Số dòng hiển thị lên */
    }

    &__avatar {
        width: 50px;
        object-fit: cover;
    }


    &__input {
        &-address {
            width: 160px;
            height:  4rem; /* Chiều cao để hiển thị dòng text */
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;  /* Số dòng hiển thị lên */

        }
    }

    .custom-icon {
        margin: 0!important;
    }
}

